body {
    margin: 0;
    background-color: #1B244A;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    max-width: 50%;
    margin: 150px auto;
}

h3 { 
    color: white;
}

h2 {
    color: red;
    font-weight: bold;
    font-size: 2.5rem;
}

.scoreboard {
    background-color: black;
    width: 150px;
    height: 120px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: 2px solid #9AABD8;
    background-color: transparent;
    color: #9AABD8;
    margin-bottom: 30px;
}